.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60;
    margin: 80px 100px;
}
.contact-title h1{
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    padding: 0px 30px;
    margin-bottom: 40px;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1{
    font-size: 50px;
    font-weight: 700;
    color: #fa0b53;
}
.contact-left > p{
    color: #8f8b8b;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    color: #ccc;
    cursor: pointer;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 10px;
}
.social-icons a{
    margin-right: 10px;
    color: #a0a0a0;
    font-size: 30px;
    text-decoration: none;
    transition: transform 0.7s;
    display: inline-block;
}
.social-icons a:hover{
    color: #ff4b4b;
    transform: translateY(-5px);
}
.btn{
    display: block;
    width: fit-content;
    padding: 14px 30px;
    border: 0;
    background-color: #ee1959;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    margin: 30px 0px;
    cursor: pointer;
    transition: all 0.4s;
}
.btn:hover{
    transform: scale(1.05);
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-right label{
    color: #ccc;
    font-size: 20px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 650px;
    height: 50px;
    background-color: #363535;
    color: #ccc;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-family: 'outfit';
}
.contact-right textarea{
    width: 650px;
    height: 150px;
    border: none;
    background-color: #363535;
    color: #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    font-family: 'outfit';
}
.contact-submit{
    font-size: 22px;
}

.copyright{
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #a0a0a0;
    text-align: center;
    margin-top: 30px;
}
hr{
    border: 0;
    height: 2px;
    width: 100%;
    border-radius: 100%;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(95, 81, 81, 0.75),rgba(0,0,0,0));
}

@media(max-width:768px){
    .contact{
        margin: 60px 50px;
        gap: 30px;
        align-items: start;
    }
    .contact-title h1{
        font-size: 40px;
        padding: 0px;
    }
    .contact-section{
        flex-direction: column;
        margin-top: -20px;
        gap: 50px;
    }
    .contact-left h1{
        font-size: 30px;
    }
    .contact-details{
        gap: 10px;
    }
    .social-icons a{
        font-size: 20px;
    }
    .btn{
        padding: 10px 20px;
        font-size: 16px;
        margin-top: 15px;
    }
    .contact-right label{
        font-size: 16px;
    }
    .contact-right input{
        padding: 10px 20px;
        width: 500px;
        height: 40px;
    }
    .contact-right textarea{
        padding: 10px 20px;
        width: 500px;
    }
}
@media(min-width:300px) and (Max-width:550px){
    .contact-section{
        margin-left: 50px;
    }
}